#new-tweet-error{
  color:red;
  width:100%;
  text-align:center;
  height:30px;
  margin-top:10px;
}

.new-tweet{
  padding:0.5em;
  margin:0em 2em 2em 2em;
  background-color:#eeeeee;
  border:1px solid #bbbbbb;
  border-radius:5px;
}

.new-tweet h2{
  border-bottom:1px solid black;
  margin:0em 0em 0.5em 0em
}

.new-tweet textarea{
  width:100%;
  margin-bottom:0.3em;
  padding:0.3em;
}

.new-tweet input{
  border: 1px solid #bbbbbb;
  padding:0em 0.5em 0em 0.5em;
  background:linear-gradient(#dddddd, white);
}

.counter{
  float:right;
  font-size:0.75em;
}

.over-char-limit{
  color:red;
}