#new-tweet-error{
  color:red;
  width:100%;
  text-align:center;
  height:0px;
  position:absolute;
  top:-1.5em;
}

.new-tweet{
  padding:0.5em;
  margin:2em 2em 2em 2em;
  background-color:#eeeeee;
  border:1px solid #bbbbbb;
  border-radius:5px;
  display:none;
  position:relative;

  h2{
    border-bottom:1px solid black;
    margin:0em 0em 0.5em 0em
  }

  textarea{
    width:100%;
    margin-bottom:0.3em;
    padding:0.3em;
  }

  input{
    border: 1px solid #bbbbbb;
    padding:0em 0.5em 0em 0.5em;
    background:linear-gradient(#dddddd, white);
  }
}

.counter{
  float:right;
  font-size:0.75em;
}

.over-char-limit{
  color:red;
}